.protfolio {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: "Patua One", cursive;
}
.bgLogo{
  background-image: url("Images/ABlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
  }
  

.custom-canvas {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
}

/* Navbar */
.navbar-brand {
  z-index: 999;
}
.logo {
  width: 5rem;
  padding: 10px 0 0 25px;
}
.navbar-nav > a {
  color: #fff !important;
  font-size: 18px !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  padding: 0 2rem 0 1rem !important;
  text-decoration: none;
  z-index: 999;
}
.resume-btn {
  background-color: blueviolet !important;
  border-radius: 50px !important;
  border: 1px solid blueviolet !important;
  z-index: 999;
}
.resume-btn > span {
  padding: 5px 20px;
}
/* Home */
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80vh;
}
.home-section > .row {
  width: 100%;
  z-index: 999;
}
.left-home > h1 {
  color: blueviolet;
  padding: 10px 0;
  font-size: 45px;
}
.left-home > h1 > span {
  color: white;
}
.Typewriter {
  margin-bottom: 20px;
}
.social-icons {
  display: flex;
  flex-direction: row;
}
.social-icons > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  padding: 5px 0;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  transition: 0.5s ease;
}
.social-icons > a:hover {
  font-size: 40px;
  color: blueviolet;
  box-shadow: 0 0 40px blueviolet;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* About */

.about-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.about {
  border-radius: 2rem !important;
  box-shadow: 4px -2px 20px 12px #a46bd9;
  width: 60% !important;
}
.aboutme-heading {
  color: white !important;
  border-bottom: 1px solid blueviolet;
  text-align: center;
  padding: 20px;
}
.about-section {
  justify-content: start;
  align-items: start;
  padding: 0 20px;
}
.aboutsection-para {
  font-family: "Patua One", cursive;
  color: white !important;
  text-align: left;
  line-height: 20px;
  word-spacing: 1px;
  letter-spacing: 2px;
  padding: 30px 0;
}
.about-img {
  padding: 2rem 0 !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
.boycoder {
  width: 80%;
  height: 80%;
}

/* skills */
.left-sillSection {
  margin: 2.5rem;
  color: #fff;
  text-align: left;
}
.left-sillSection h1 {
  color: blueviolet;
  font-weight: bolder;
  font-size: 60px;
}
.left-sillSection h5 {
  font-family: sans-serif;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 1rem 0 0;
}
.skill-icons > h4 {
  color: blueviolet;
  padding: 1rem 0;
}
.skill-icons > img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
.right-skillSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact */
.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.Contact-card {
  border-radius: 2rem !important;
  width: 50%;
  text-align: center;
  background-color: #000 !important;
  color: #fff !important;
  box-shadow: 4px -2px 20px 12px #a46bd9;
}
.card-title {
  font-size: 40px !important;
  font-weight: bolder !important;
  letter-spacing: 2px !important;
  line-height: 5px !important;
}
.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 50px;
  color: blueviolet !important;
  padding-left: 15px;
}

.phone-wave {
  animation: waveIn 1.2s infinite ease-out;
  transform-origin: 50% 50%;
}

.phone-wave-sm {
  animation-delay: 0.3s;
}

.phone-wave-md {
  animation-delay: 0.45s;
}

.phone-wave-lg {
  animation-delay: 0.6s;
}

@keyframes waveIn {
  from {
    opacity: 0;
    transform: scale(0.3) translate(-20px, 10px);
  }

  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.card-text {
  color: grey !important;
}
.contact-social {
  justify-content: center;
}
.contact-social > a {
  margin: 0 15px;
  border: 1px solid blueviolet;
  border-radius: 50px;
  box-shadow: 5px blueviolet;
  font-size: 35px;
  padding: 15px;
}

.design {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.design > span {
  color: blueviolet;
  font-weight: bold;
  padding-left: 5px;
}
#box {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: linear-gradient(
    21deg,
    rgba(228, 167, 0, 1) 0%,
    rgba(255, 210, 88, 1) 54%,
    rgba(245, 195, 58, 1) 100%
  );
  border-radius: 80%;
  box-shadow: 5px 5px 20px -10px #ffd258;
}
.eyes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eye {
  height: 10px;
  width: 10px;
  background-color: white;
  margin: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.15);
}
.eyeball {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  animation: eyeFramesAnim 2s ease infinite;
}
.smile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smile {
  height: 15px;
  width: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(245, 195, 58, 0) 50%
  );
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 3px solid #e89e09;
  animation: forSmile 0.8s ease infinite;
}

@keyframes forSmile {
  from {
    border-bottom: 3px solid #e89e09;
  }
  50% {
    border-bottom: 5px solid #e89e09;
  }
  to {
    border-bottom: 3px solid #e89e09;
  }
}

@keyframes eyeFramesAnim {
  from {
    transform: translateX(7px);
  }
  80% {
    transform: translateX(4px);
  }
  to {
    transform: translateX(1px);
  }
}

@media (max-width: 991.98px) {
  .navbar-nav>a{
    padding: 10px 0 !important;
  }
  .navbar-nav>button{
    margin: 5px 0;
    padding: 10px 0 !important;
  }
  .left-home > h1,div {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e8c709;
  }
  .home-right {
    display: none;
  }
  .about {
    width: 80% !important;
    margin: 2% auto;
  }
  .aboutsection-para {
    text-align: center;
    padding: 20px;
    width: 100% !important;
  }
  .about-img {
    display: none;
  }
  .right-skillSection {
    display: none;
  }
  .Contact-card{
    margin: 0 15px;
    width: 100%;
  }
  .left-sillSection{
    text-align: center;
  }
  .left-sillSection>h1{
    font-size: 40px;
  }
  .left-sillSection>h5{
    font-size: 16px;
  }
  .skill-icons>h4{
    font-size: 14px;
  }
  .skill-icons>img{
    width: 40px;
    height: 40px;
  }
}